/*======================================
	Features CSS
========================================*/
.features.style2 .single-feature {
    text-align: center;
    background-color: #fff;
    padding: 70px 40px;
    border-radius: 5px;
    z-index: 5;
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 50px rgba(87, 87, 87, 0.23);
    box-shadow: 0px 0px 50px rgba(87, 87, 87, 0.23);
    border-radius: 10px;
}

.features.style2 .single-feature::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 4px;
    width: 0%;
    background-color: #3F8FD2;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.features.style2 .single-feature:hover::before {
    width: 100%;
}

.features.style2 .single-feature i {
    height: 70px;
    width: 70px;
    line-height: 70px;
    background-color: #3F8FD2;
    color: #fff;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.features.style2 .single-feature h3 a {
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    color: #081828;
}

.features.style2 .single-feature h3 a:hover {
    color: #3F8FD2;
}

.features.style2 .single-feature:hover i {
    border-radius: 50%;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.features.style3 {
    background-color: #081828;
    padding: 70px 0 100px 0;
}

.features.style3 .single-feature {
    padding: 0;
    padding-left: 90px;
    position: relative;
    padding-right: 30px;
    margin-top: 30px;
}

.features.style3 .single-feature i {
    font-size: 25px;
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 11px;
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 5px;
    color: #3F8FD2;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.features.style3 .single-feature:hover i {
    background-color: #3F8FD2;
    color: #fff;
}

.features.style3 .single-feature h3 a {
    color: #fff;
}

.features.style3 .single-feature p {
    color: #fff;
    margin-top: 15px;
    font-size: 13px;
}

.features .single-feature {
    position: relative;
    padding-right: 62px;
}

.features .single-feature .serial {
    font-size: 50px;
    font-weight: 800;
    color: #3F8FD2;
    opacity: 0.2;
    position: absolute;
    right: 10px;
    top: -17px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.features .single-feature h5 {
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 15px;
    color: #3F8FD2;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.features .single-feature h5::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 1px;
    width: 0%;
    background-color: #3F8FD2;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.features .single-feature:hover h5:before {
    width: 100%;
}

.features .single-feature:hover h5 {
    letter-spacing: 2px;
}

.features .single-feature h3 {
    line-height: 32px;
}

.features .single-feature h3 a {
    font-size: 20px;
    font-weight: 700;
}

.features .single-feature h3 a:hover {
    color: #3F8FD2;
}

.features .single-feature p {
    display: block;
    margin-top: 20px;
}

.features .single-feature:hover span {
    color: #3F8FD2;
    opacity: 1;
}
/*======================================
    Blog CSS
========================================*/
.latest-news-area {
    background-color: #F4F7FA;
}

.latest-news-area .single-news {
    border-radius: 7px;
    background-color: #fff;
}

.latest-news-area .single-news .image {
    position: relative;
    overflow: hidden;
    border-radius: 7px 7px 0 0;
}

.latest-news-area .single-news .image img {
    height: 100%;
    width: 100%;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.latest-news-area .single-news .content-body {
    background-color: #fff;
    padding: 30px;
    border-radius: 0 0 7px 7px;
}

.latest-news-area .single-news .content-body .cat {
    color: #888;
    font-size: 13px;
}

.latest-news-area .single-news .content-body .cat:hover {
    color: #3F8FD2;
}

.latest-news-area .single-news .content-body .title {
    font-size: 18px;
    margin-top: 10px;
    line-height: 28px;
}

.latest-news-area .single-news .content-body .title a {
    color: #081828;
    font-size: 17px;
    font-weight: 600;
}

.latest-news-area .single-news .content-body .title a:hover {
    color: #3F8FD2;
}

.latest-news-area .single-news .content-body p {
    color: #888;
    margin-top: 15px;
}

.latest-news-area .single-news .content-body .button {
    margin-top: 30px;
}

.latest-news-area .single-news:hover .image .thumb {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.blog-list .single-news {
    margin-bottom: 40px;
}

/* News Details */
.blog-single {
    background: #F4F7FA;
}

.blog-single .single-inner {
    padding: 40px;
    background-color: #fff;
}

.blog-single .post-thumbnils {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.blog-single .post-thumbnils img {
    width: 100%;
}

.post-details .detail-inner {
    background-color: #fff;
    padding: 0;
    margin-top: 40px;
}

.post-details .post-thumbnils {
    margin-bottom: 30px;
}

.post-details .post-title {
    font-weight: 700;
    margin-top: 10px;
    line-height: 32px;
}

.post-details .post-title a {
    font-size: 23px;
    font-weight: 600;
}

.post-details .post-title a:hover {
    color: #3F8FD2;
}

ul.custom-flex {
    list-style: none;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.post-details .post-meta li {
    font-weight: 500;
    font-size: 15px;
    margin-right: 25px;
}

.post-details .post-meta li a i {
    font-weight: 400;
    margin-right: 3px;
}

.post-details .post-meta li a:hover {
    color: #3F8FD2;
}

.post-details p {
    font-size: 14px;
    margin: 30px 0;
    line-height: 24px;
}

.post-details h3 {
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: 600;
    line-height: 28px;
}

.post-details p:last-child {
    margin-bottom: 0;
}

blockquote {
    position: relative;
    color: #fff;
    font-weight: 400;
    clear: both;
    z-index: 1;
    margin: 40px 0;
    text-align: left;
    padding: 40px;
    background-color: #3F8FD2;
    border: none;
    border-radius: 5px;
    overflow: hidden;
}

blockquote .icon i {
    font-size: 30px;
    color: #fff;
    display: block;
    margin-bottom: 20px;
}

blockquote h4 {
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #fff;
}

blockquote span {
    font-size: 13px;
    display: block;
    margin-top: 20px;
    color: #fff;
}

.post-details .list {
    padding-left: 30px;
}

.post-details .list li {
    color: #888;
    font-weight: 400;
    position: relative;
    padding-left: 35px;
    display: block;
    margin-bottom: 20px;
    position: relative;
    font-size: 14px;
}

.post-details .list li:last-child {
    margin: 0;
}

.post-details .list li i {
    display: block;
    height: 20px;
    width: 20px;
    line-height: 20px;
    font-size: 8px;
    color: #fff;
    background-color: #3F8FD2;
    position: absolute;
    left: 0;
    top: 5px;
    text-align: center;
    border-radius: 50%;
}

.post-details .list li:last-child {
    margin: 0;
}

.popular-tag-widget .tag-title {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 16px;
}

.post-tags-media .share-title {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 16px;
}

.post-details .post-tags-media .post-social-media ul {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.post-details .post-tags-media .post-social-media ul li {
    margin-right: 7px;
}

.post-details .post-tags-media .post-social-media ul li:last-child {
    margin: 0;
}

.post-details .post-tags-media .post-social-media ul li a {
    font-size: 14px;
    color: #fff;
    height: 35px;
    width: 35px;
    line-height: 35px;
    background-color: #3F8FD2;
    text-align: center;
    border-radius: 4px;
}

.post-details .post-tags-media .post-social-media ul li a.facebook {
    background-color: #3b5999;
}

.post-details .post-tags-media .post-social-media ul li a.twitter {
    background-color: #55acee;
}

.post-details .post-tags-media .post-social-media ul li a.google {
    background-color: #dd4b39;
}

.post-details .post-tags-media .post-social-media ul li a.pinterest {
    background-color: #bd081c;
}

.post-details .post-tags-media .post-social-media ul li a.vimeo {
    background-color: #1ab7ea;
}

.post-details .post-tags-media .post-social-media ul li a:hover {
    color: #fff;
    background-color: #081828;
}

.post-details .post-tags-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 30px;
}

.post-details .post-meta li {
    font-weight: 500;
    margin-right: 25px;
}

.post-details .post-meta li a {
    font-size: 13px;
    font-weight: 400;
    font-weight: 500;
    color: #081828;
}

.post-details .post-meta li a i {
    font-weight: 400;
    margin-right: 5px;
    color: #3F8FD2;
}

.post-details > p {
    font-size: 14px;
}

.post-details .post-image {
    margin: 40px 0;
    width: 100%;
}

.post-details .post-image img {
    width: 100%;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 5px;
}

.post-details > ul > li {
    font-weight: 500;
}

.post-details .post-tags-media .post-tags .tags a {
    color: #333;
    background: transparent;
}

.post-details .post-tags-media .post-tags .tags a:hover {
    color: #fff;
    background-color: #3F8FD2;
}

.post-details .post-tags-media .post-social-media {
    text-align: right;
    position: relative;
    top: -5px;
}

.post-details .post-tags-media .post-social-media ul {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.detail-post-navigation {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: #fff;
    padding: 30px;
    border: 1px solid #eee;
}

/*comments*/
.post-comments {
    margin-top: 70px;
}

.comment-title {
    border-bottom: 1px dashed #3F8FD2;
    font-size: 20px !important;
    font-weight: 600 !important;
    margin-bottom: 40px !important;
    padding-bottom: 20px;
}

.comment-reply-title {
    border-bottom: 1px dashed #3F8FD2;
    font-size: 20px !important;
    font-weight: 600 !important;
    margin-bottom: 40px !important;
    padding-bottom: 20px;
}

.post-comments .comments-list li {
    padding-left: 130px;
    position: relative;
    font-size: 14px;
}

.post-comments .comments-list li .comment-img {
    position: absolute;
    left: 0;
    width: 100px;
    height: 100px;
}

.post-comments .comments-list li .comment-img img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 5px;
}

.post-comments .comments-list li .comment-desc .desc-top {
    margin-bottom: 20px;
    position: relative;
    display: block;
}

.post-comments .comments-list li .comment-desc .desc-top h6 {
    font-size: 17px;
    margin-bottom: 8px;
    font-weight: 500;
}

.post-comments .comments-list li .comment-desc .desc-top h6 .saved {
    color: #3F8FD2;
    font-size: 14px;
    margin-left: 10px;
}

.post-comments .comments-list li .comment-desc .desc-top span.date {
    font-size: 12px;
    font-weight: 400;
}

.post-comments .comments-list li .comment-desc .desc-top .reply-link {
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    z-index: 2;
    color: #081828;
}

.post-comments .comments-list li .comment-desc .desc-top .reply-link:hover {
    color: #3F8FD2;
}

.post-comments .comments-list li .comment-desc .desc-top .reply-link i {
    margin-right: 5px;
}

.post-comments .comments-list li .comment-desc p {
    font-weight: 400;
    margin-bottom: 0;
    font-size: 14px;
}

.post-comments .comments-list li.children {
    margin-left: 130px;
}

.post-comments .comments-list li:not(:first-child) {
    padding-top: 30px;
    margin-top: 30px;
    border-top: 1px dashed #eee;
}

/*Comment form*/
.comment-form {
    margin-top: 70px;
}

.comment-form form .form-box {
    position: relative;
}

.comment-form form .form-box .icon {
    position: absolute;
    top: 17px;
    right: 25px;
    font-size: 16px;
}

.comment-form form .form-box .form-control-custom {
    border: none;
    background: #fff;
    font-size: 14px;
    color: #081828;
    padding: 0 20px;
    font-weight: 500;
    height: 55px;
    border: 1px solid #eee;
    margin-bottom: 25px;
    font-size: 13px;
    font-weight: 400;
    border-radius: 5px;
}

.comment-form form .form-box textarea.form-control-custom {
    height: 200px;
    padding: 25px;
}

.comment-form form .form-box .form-control-custom::-webkit-input-placeholder {
    font-size: 13px;
    color: #333;
    font-weight: 400;
    padding: 25px;
}

.comment-form form .form-box .form-control-custom:-ms-input-placeholder {
    font-size: 13px;
    color: #333;
    font-weight: 400;
    padding: 25px;
}

.comment-form form .form-box .form-control-custom::-ms-input-placeholder {
    font-size: 13px;
    color: #333;
    font-weight: 400;
    padding: 25px;
}

.comment-form form .form-box .form-control-custom::placeholder {
    font-size: 13px;
    color: #333;
    font-weight: 400;
    padding: 25px;
}

/* News sidebar */
.sidebar .widget {
    padding: 40px;
    background-color: #fff;
    margin-bottom: 30px;
    border-radius: 5px;
    border: 1px solid #eee;
}

.sidebar .widget:last-child {
    margin-bottom: 0;
}

.sidebar .widget .widget-title {
    font-size: 17px;
    font-weight: 600;
    color: #081828;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #3F8FD2;
}

.sidebar .widget.search-widget form {
    position: relative;
}

.sidebar .widget.search-widget form input {
    width: 100%;
    background-color: transparent;
    height: 55px;
    border: none;
    padding: 0 70px 0 20px;
    font-size: 13px;
    font-weight: 400;
    border: 1px solid #eee;
    border-radius: 5px;
    background-color: #fff;
    color: #081828;
}

.sidebar .widget.search-widget form input::-webkit-input-placeholder {
    color: #333;
}

.sidebar .widget.search-widget form input:-ms-input-placeholder {
    color: #333;
}

.sidebar .widget.search-widget form input::-ms-input-placeholder {
    color: #333;
}

.sidebar .widget.search-widget form input::placeholder {
    color: #333;
}

.sidebar .widget.search-widget form button {
    position: absolute;
    right: 10px;
    top: 50%;
    width: 40px;
    height: 38px;
    z-index: 1;
    color: #fff !important;
    font-size: 13px;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    color: #fff;
    border-radius: 5px;
    padding: 0 !important;
    border: none;
    margin-top: -19px;
    background: #3F8FD2;
}

.sidebar .widget.search-widget form button:hover {
    background-color: #081828;
    color: #fff;
}

.sidebar .widget.popular-feeds .single-popular-feed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px dashed #eee;
}

.sidebar .widget.popular-feeds .single-popular-feed:last-child {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.sidebar .widget.popular-feeds .single-popular-feed {
    position: relative;
    padding-left: 100px;
}

.sidebar .widget.popular-feeds .single-popular-feed .feed-img {
    position: absolute;
    left: 0;
    top: 0;
}

.sidebar .widget.popular-feeds .single-popular-feed .feed-img img {
    width: 80px;
    border-radius: 5px;
    height: 80px;
    overflow: hidden;
    display: block;
}

.sidebar .widget.popular-feeds .single-popular-feed .feed-desc .post-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 12px;
    line-height: 1.5;
}

.sidebar .widget.popular-feeds .single-popular-feed .feed-desc .post-title a {
    font-size: 14px;
    font-weight: 500;
}

.sidebar .widget.popular-feeds .single-popular-feed .feed-desc .post-title a:hover {
    color: #3F8FD2;
}

.sidebar .widget.popular-feeds .single-popular-feed .feed-desc .time {
    font-weight: 400;
    font-size: 12px;
}

.sidebar .widget.popular-feeds .single-popular-feed .feed-desc .time > i {
    margin-right: 4px;
}

.sidebar .widget.categories-widget ul li {
    margin-bottom: 10px;
}

.sidebar .widget.categories-widget ul li:last-child {
    margin-bottom: 0;
}

.sidebar .widget.categories-widget ul li a {
    padding: 14px 20px;
    padding-right: 20px;
    background-color: #fff;
    color: #081828;
    font-weight: 500;
    display: block;
    border-radius: 5px;
    border: 1px solid #eee;
    position: relative;
    padding-right: 40px;
}

.sidebar .widget.categories-widget ul li a i {
    float: right;
    font-size: 16px;
    position: absolute;
    top: 0;
    right: 20px;
    height: 18px;
    top: 50%;
    margin-top: -9px;
}

.sidebar .widget.categories-widget ul li a:hover {
    color: #fff;
    border-color: transparent;
    background-color: #3F8FD2;
}

.sidebar .widget.categories-widget ul li a:hover span {
    background: #3F8FD2;
    color: #fff;
    border-color: transparent;
}

.sidebar .widget.popular-tag-widget {
    padding-bottom: 30px;
}

.popular-tag-widget .tags > a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 8px 20px;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 500;
    background: #3F8FD2;
    margin-right: 7px;
    margin-bottom: 10px;
    color: #fff;
    background: transparent;
    color: #888;
    border: 1px solid #eee;
    border-radius: 5px;
}

.popular-tag-widget .tags > a:hover {
    background-color: #3F8FD2;
    color: #fff;
    border-color: transparent;
}

.widget.call-us {
    background-color: #3F8FD2;
    background-image: url("../images/about/pattern.png");
    border: none;
}

.widget.call-us h4 {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
}

.widget.call-us h4 span {
    display: block;
    margin-top: 5px;
    font-size: 18px;
}

.widget.call-us .button {
    margin-top: 30px;
}

.widget.call-us .button .btn {
    background-color: #fff;
    color: #081828;
}
/*======================================
    Brand CSS
========================================*/
.brand-area .section-title {
    margin-bottom: 0 !important;
    padding: 0;
    padding: 0px 100px;
}

.brand-area .section-title.align-left {
    margin-bottom: 0 !important;
    padding: 0;
    padding-right: 50px;
}

.brand-area .clients-logos {
    text-align: center;
    display: inline-block;
    margin-top: 50px;
}

.brand-area .clients-logos .single-image {
    display: inline-block;
}

.brand-area .clients-logos img {
    opacity: 0.5;
    width: 85%;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.brand-area .clients-logos img:hover {
    opacity: 1;
}
.team {
    background-color: #F4F7FA;
}

.team .title-line {
    margin-bottom: 40px;
}

.team .section-title {
    margin-bottom: 50px;
}

.team .single-team {
    margin-top: 30px;
    position: relative;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    display: inline-block;
    overflow: hidden;
    text-align: left;
    background: transparent;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    -webkit-box-shadow: 0 32px 54px 0 rgba(22, 28, 45, 0.16);
    box-shadow: 0 32px 54px 0 rgba(22, 28, 45, 0.16);
}

.team .single-team .info-head {
    background: transparent;
    position: relative;
    z-index: 2;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    padding: 25px;
}

.team .single-team:hover .info-head:before {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

.team .single-team:hover .info-head {
    border-color: transparent;
}

.single-team .image {
    position: relative;
    text-align: center;
}

.single-team .image::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#3F8FD2));
    background: linear-gradient(transparent, #3F8FD2);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.single-team .image img {
    height: 100%;
    width: 100%;
}

.single-team .image .social {
    position: absolute;
    left: 0;
    bottom: -30px;
    padding: 25px;
    padding-bottom: 20px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.single-team .image .social li {
    display: inline-block;
    margin-right: 15px;
}

.single-team .image .social li:last-child {
    margin-right: 0px;
}

.single-team .image .social li a {
    color: #fff;
    display: block;
    font-size: 15px;
}

.single-team .image .social li a:hover {
    opacity: 0.7;
}

.single-team:hover .image::before {
    opacity: 1;
    visibility: visible;
    height: 150px;
}

.single-team:hover .social {
    opacity: 1;
    visibility: visible;
    bottom: 0;
}

.team .single-team .info-box {
    text-align: left;
}

.team .single-team .info-box .name {
    display: block;
    font-size: 17px;
    color: #333;
    margin-bottom: 3px;
    text-transform: capitalize;
}

.team .single-team .info-box .name a {
    font-weight: 600;
    color: #081828;
    font-size: 17px;
}

.team .single-team .info-box .name a:hover {
    color: #3F8FD2;
}

.team .single-team .info-box .designation {
    color: #666;
    font-size: 13px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

/* Team Details */
.team-details .image {
    border-radius: 5px;
    overflow: hidden;
}

.team-details .image img {
    width: 100%;
    height: 100%;
}

.team-details .content {
    padding-left: 50px;
}

.team-details .content .position {
    color: #3F8FD2;
    font-weight: 500;
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

.team-details .content .name {
    font-size: 32px;
    font-weight: 600;
    color: #081828;
}

.team-details .content .des {
    display: block;
    margin-top: 20px;
}

.team-details .content .personal-info {
    margin-top: 30px;
}

.team-details .content .personal-info li {
    display: block;
    margin-bottom: 5px;
}

.team-details .content .personal-info li:last-child {
    margin: 0;
}

.team-details .content .personal-info li span {
    color: #081828;
}

.team-details .content .personal-info li a {
    color: #888;
}

.team-details .content .personal-info li a:hover {
    color: #3F8FD2;
}

.team-details .content .social {
    margin-top: 30px;
}

.team-details .content .social li {
    display: inline-block;
    margin-right: 5px;
}

.team-details .content .social li:last-child {
    margin: 0;
}

.team-details .content .social li a {
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 14px;
    background-color: #f4f4f4;
    color: #081828;
    border-radius: 4px;
    display: block;
    text-align: center;
}

.team-details .content .social li a:hover {
    background-color: #3F8FD2;
    color: #fff;
}

.team-details .details-info .heading {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
    margin-top: 60px;
}

.team-details .details-info p {
    margin: 20px 0;
}

.team-details .team-contact-form {
    padding: 50px;
    border-radius: 6px;
    overflow: hidden;
    background-color: #fff;
    margin-top: 60px;
    -webkit-box-shadow: 0 0 50px rgba(22, 28, 45, 0.16);
    box-shadow: 0 0 50px rgba(22, 28, 45, 0.16);
}

.team-details .team-contact-form form .form-group {
    margin-bottom: 20px;
}

.team-details .team-contact-form form .form-group input {
    height: 55px;
    width: 100%;
    background-color: #fff;
    color: #081828;
    border-radius: 5px;
    border: none;
    border: 1px solid #eee;
    font-size: 14px;
    padding: 0px 20px;
}

.team-details .team-contact-form form .form-group textarea {
    height: 200px;
    width: 100%;
    background-color: #fff;
    color: #081828;
    border-radius: 5px;
    border: none;
    border: 1px solid #eee;
    font-size: 14px;
    padding: 20px;
}

.team-details .team-contact-form form .button {
    text-align: center;
}

.skill-main {
    margin-top: 60px;
}

.skill-main .single-skill {
    margin-bottom: 50px;
}

.skill-main .skill-title h4 {
    color: #081828;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 16px;
}

.skill-main .progress {
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #0046c017;
    height: 10px;
    border-radius: 10px;
    overflow: visible;
}

.skill-main .progress-bar {
    position: relative;
    background: #3F8FD2;
    border: none;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 10px;
    overflow: visible;
}

.skill-main .progress-bar span {
    position: absolute;
    right: -15px;
    top: -45px;
    color: #fff;
    font-weight: 500;
    font-size: 11px;
    background: #3F8FD2;
    height: 35px;
    width: 35px;
    display: block;
    text-align: center;
    line-height: 35px;
    border-radius: 31px;
}

.skill-main .progress-bar span::before {
    position: absolute;
    content: "";
    right: 9px;
    bottom: -13px;
    border: 8px solid #3F8FD2;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
}
/*======================================
	Contact CSS
========================================*/
.contact-us {
    position: relative;
    background-color: #F4F7FA;
}

.contact-us .inner-title {
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px dashed #3F8FD2;
    margin-bottom: 30px;
    padding-bottom: 20px;
}

.contact-us .inner-content {
    padding: 50px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
}

.contact-us .title {
    margin-bottom: 30px;
}

.contact-us .contant-inner-title {
    margin-bottom: 45px;
}

.contact-us .single-head {
    position: relative;
    z-index: 5;
}

.contact-us .single-info {
    text-align: left;
    margin-bottom: 30px;
    padding-left: 70px;
    position: relative;
}

.contact-us .single-info i {
    font-size: 18px;
    display: inline-block;
    margin-right: 20px;
    position: absolute;
    left: 0;
    top: 0;
    height: 50px;
    width: 50px;
    display: block;
    text-align: center;
    background: #3F8FD2;
    color: #fff;
    line-height: 50px;
    border-radius: 5px;
}

.contact-us .single-info ul {
    display: inline-block;
}

.contact-us .single-info ul span {
    display: block;
    margin-bottom: 7px;
    font-size: 13px;
    font-weight: 500;
    text-transform: capitalize;
}

.contact-us .single-info ul li:last-child {
    margin-bottom: 0;
}

.contact-us .single-info ul li {
    font-weight: 500;
    display: inline-block;
    font-size: 13px;
    color: #081828;
    display: block;
    margin-bottom: 4px;
}

.contact-us .single-info ul li a {
    font-weight: 500;
    display: inline-block;
    font-size: 13px;
    color: #081828;
}

.contact-us .single-info ul li a:hover {
    color: #3F8FD2;
}

.contact-us .single-info .title {
    margin-bottom: 10px;
    font-weight: 500;
    color: #fff;
    font-size: 18px;
}

.contact-us .single-info .title span {
    display: block;
    font-size: 14px;
    margin-top: 8px;
    font-weight: 500;
}

.contact-us .form-main {
    margin-right: 50px;
}

.contact-us .form .form-group {
    margin-bottom: 15px;
    display: block;
}

.contact-us .form .form-group input {
    height: 55px;
    line-height: 55px;
    width: 100%;
    border: 1px solid #e6e2f5;
    padding: 0px 20px;
    color: #333;
    border-radius: 0px;
    font-weight: 400;
    border-radius: 5px;
}

.contact-us .form .form-group textarea {
    height: 180px;
    width: 100%;
    border: 1px solid #e6e2f5;
    padding: 15px 20px;
    color: #333;
    border-radius: 0px;
    resize: none;
    font-weight: 400;
    border-radius: 5px;
}

.contact-us .form .button {
    margin: 0;
}

.contact-us .form .button .btn {
    height: 50px;
    border: none;
}

.map-section {
    background-color: #fff;
}

.map-section .map-container {
    -webkit-box-shadow: 0 10px 30px rgba(111, 111, 111, 0.1);
    box-shadow: 0 10px 30px rgba(111, 111, 111, 0.1);
    padding: 20px;
    border-radius: 7px;
}

/*======================================
	End Contact CSS
========================================*/
.header .navbar-nav .dropdown-menu li a {

    text-transform: none;

}
.header .navbar-nav .dropdown-menu {
    width: auto;
}
.team .single-team .info-box .name {

    text-transform: none;
}
.team .single-team .info-box {
    text-align: center;
}
.single-team .image .social li {
    display: block;
    color: white;
    text-align: left;
}
